<link rel="stylesheet" href="/assets/css/meView.css">
<div class="configView">
  <p>
    Yo
  </p>
  <p>
    Enfocado en profundizar mis habilidades en desarrollo de aplicaciones móviles Nativas y apoyando con mis diversas habilidades a mi equipo de trabajo, durante mis años de experiencia en el cambiante mundo tecnológico he amasado una gran variedad de conocimientos, en diversas áreas Desde mis inicios en el mundo de desarrollo de aplicaciones con el lenguaje Pascal, he tenido la oportunidad de trabajar con diversas tecnologías para resolver gran variedad de solicitudes, desde Basic para desarrollar App de escritorio hasta herramientas para modelado de datos UML.
  </p>
  <p>
    En la actualidad , me encuentro recorriendo en mundo de las aplicaciones móviles acumulando conocimientos particularmente enfocado en desarrollos para iOs nativos con Swift UiKit y SwiftUI, con la premisa de ofrecer soluciones de calidad y en la búsqueda de ampliar mis conocimientos en esta área que es mi pasión, el desarrollo de aplicaciones.
  </p>
  <p>
    <a href="https://www.canva.com/design/DAEmnTSj_B0/fn-nFRb1oaCjdFWmcbMT5A/view?utm_content=DAEmnTSj_B0&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Mi Hoja de Vida</a>
  </p>
</div>