<style>
  .fontColor {
    color: #0b0b0b
  }

  .space {
    padding: 2%;
  }
</style>
<link rel="stylesheet" type="text/css" href="assets/css/skills-card.css" media="screen" />
<div class="initial-content">
  <div class="skills-container">
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="assets/images/devLogos/iteration-white.png?raw=true">
          <h3>Planning</h3>
        </div>
      </div>
      <div class="skills-face face2">
        <div class="skills-content fontColor">
          <p>{% include /card/planning.html %}</p>

          <!--          <a href="#">Read More</a>-->
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="assets/images/devLogos/design.png?raw=true">
          <h3>Design</h3>
        </div>
      </div>
      <div class="skills-face face2">
        <div class="skills-content fontColor">
          <p>{% include /card/desing.html %}</p>

          <!--          <a href="#">Read More</a>-->
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="assets/images/devLogos/code.png?raw=true">
          <h3>Code</h3>
        </div>
      </div>
      <div class="skills-face face2 fontColor">
        <div class="skills-content">
          <p>{% include /card/code.html %}</p>
          <!--          <a href="#">Read More</a>-->
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="skills-face face1">
        <div class="skills-content">
          <img src="assets/images/devLogos/launch.png?raw=true">
          <h3>Launch</h3>
        </div>
      </div>
      <div class="skills-face face2">
        <div class="skills-content fontColor">
          <p>{% include /card/deploy.html %}</p>
          <!--  <a href="#">Read More</a> -->
        </div>
      </div>
    </div>
  </div>
</div>





