---
layout: default
---
<style>
    .bg {
        background-image: url("assets/images/banner/swift.jpg");
        line-height: 1.0;
    }

</style>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DL5NT7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="bg">
  <span>
    {% include about_me.html %}
  </span>

  </br/>
    <span>
      {% include skills.html %}
    </span>
    <br/>
</div>
